<!-- views/pages/devices.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/qrcode.js"></script>
    <style>
        .demo-card-notification.mdl-card {
            height: inherit;
        }
    </style>
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-drawer-button">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <i class="material-icons" style="padding-right: 8px">device_hub</i>
            <!-- Title -->
            <span class="mdl-layout-title"><%=UserName + "\'S HUB" %></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">add</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="demo-menu-lower-right">
                <li class="mdl-menu__item" onclick="gotoAddDevice()">Add Devices</li>
                <li class="mdl-menu__item" onclick="gotoLogout()">Log Out</li>
            </ul>
        </div>
    </header>
    <main class="mdl-layout__content">
        <ul class="demo-list-three mdl-list">
            <% Devices.forEach(function(device) {%>
            <li class="mdl-list__item mdl-list__item--three-line">
                        <span class="mdl-list__item-primary-content">
                            <% if (device.Image != null) {%>
                            <img src="<%=device.Image%>" style="background: white;" class="mdl-list__item-avatar">
                            <% } else { %>
                            <img src="images/default.svg" style="background: white;" class="mdl-list__item-avatar">
                            <% } %>
                            <span><%=device.DeviceName %></span>
                            <span class="mdl-list__item-text-body">
                                <%=device.Description%>
                            </span>
                        </span>
                <span class="mdl-list__item-secondary-content" onclick="gotoDevice('<%=device.DeviceID%>')">
                            <a class="mdl-list__item-secondary-action">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </a>
                        </span>
            </li>
            <%})%>
        </ul>
    </main>

    <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>

    <% include ./footer-devices.ejs %>
</div>
</body>
<script>

    var checkUpdate = setInterval(checkUpdate, 60000);

    function checkUpdate() {
        var xhttp = new XMLHttpRequest();
        var url = "/checkUpdate?userID=<%= UserID %>"
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
                var notificationList = JSON.parse(this.responseText);
                console.log(notificationList);

                if (notificationList.NotificationList.length > 0) {
                    var snackbarContainer = document.querySelector('#demo-toast-example');
                    var data = {message: 'NEW UPDATE'};
                    snackbarContainer.MaterialSnackbar.showSnackbar(data);
                }
            }
        };

        xhttp.open("GET", url, true)
        xhttp.send()
    }

    function gotoDevices() {
        window.location = "/devices?userID=<%=UserID%>";
    }

    function gotoHome() {
        window.location = "/profile";
    }

    function gotoAddDevice() {
        window.location = "/addDevice";
    }

    function gotoLogout() {
        window.location = "/logout";
    }

    function gotoDevice(deviceID) {
        //var xhttp = new XMLHttpRequest();
        var url = "/device?deviceID=" + deviceID + "&userID=" + <%=UserID%>;
        //xhttp.open("POST", url, true)
        //xhttp.send()
        window.location = url;
    }

    function gotoSettings() {
        window.location = "/settings";
    }

</script>
</html>