<!-- views/pages/devices.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/qrcode.js"></script>
    <style>
        .demo-card-notification.mdl-card {
            height: 160px;
        }
    </style>
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-drawer-button">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <i class="material-icons" style="padding-right: 8px">device_hub</i>
            <!-- Title -->
            <span class="mdl-layout-title"><%=UserName + "\'S HUB" %></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="demo-menu-lower-right">
                <li class="mdl-menu__item" onclick="gotoAddDevice()">Add Devices</li>
                <li class="mdl-menu__item" onclick="gotoLogout()">Log Out</li>
            </ul>
        </div>
    </header>
    <main class="mdl-layout__content">
        <ul class="demo-list-three mdl-list">
            <% Devices.forEach(function(device) {%>
            <li class="mdl-list__item mdl-list__item--three-line">
                        <span class="mdl-list__item-primary-content">
                            <img src="<%=device.ImagePath%>" class="mdl-list__item-avatar">
                            <span><%=device.DeviceName %></span>
                            <span class="mdl-list__item-text-body">
                                <%=device.Description%>
                            </span>
                        </span>
                <span class="mdl-list__item-secondary-content" onclick="gotoDevice('<%=device.DeviceID%>')">
                            <a class="mdl-list__item-secondary-action">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </a>
                        </span>
            </li>
            <%})%>
        </ul>
    </main>

    <footer class="mdl-mini-footer"
            style="background-color: #ffffff;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
                    padding-top: 0px; padding-right: 0px; padding-left: 0px; padding-bottom: 28px">
        <div class="container-fluid" style="width:100%">
            <div class="row">
                <div class="col-xs-4 col-md-4" style="height: 56px; padding: 0px">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect btn-block" style="height: 56px;" onclick="gotohome()">
                        <div style="height: 24px; padding: 0px">
                            <i class="material-icons" style="color: #000000">home</i>
                        </div>
                        <div>
                            <text style="font-size: 12px; color: #000000">home</text>
                        </div>
                    </button>
                </div>
                <div class="col-xs-4 col-md-4" style="height: 56px; padding: 0px">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect btn-block" style="height: 56px;" onclick="gotodevices()">
                        <div style="height: 24px; padding: 0px">
                            <i class="material-icons" style="color: #00695C; opacity:26%">devices</i>
                        </div>
                        <div>
                            <text style="font-size: 14px; height: 12px; color: #00695C; opacity:26%">devices</text>
                        </div>
                    </button>
                </div>
                <div class="col-xs-4 col-md-4" style="height: 56px; padding: 0px">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect btn-block" style="height: 56px;">
                        <div style="height: 24px; padding: 0px">
                            <i class="material-icons" style="color: #000000">settings</i>
                        </div>
                        <div>
                            <text style="font-size: 12px; height: 12px; color: #000000; opacity:26%">settings</text>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
<script>
    function gotodevices() {
        window.location = "/devices";
    }

    function gotohome() {
        window.location = "/profile";
    }

    function gotoAddDevice() {
        window.location = "/addDevice";
    }

    function gotoLogout() {
        window.location = "/logout";
    }

    function gotoDevice(deviceID) {
        var xhttp = new XMLHttpRequest();
        var url = "/device?deviceID=" + deviceID
        xhttp.open("POST", url, true)
        xhttp.send()
    }

</script>
</html>