<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <style>
        .demo-card-notification.mdl-card {
            height: 160px;
        }
    </style>
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-drawer-button">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><%=DeviceName%></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="demo-menu-lower-right">
                <li class="mdl-menu__item" onclick="gotoAddDevice()">Add Devices</li>
                <li class="mdl-menu__item" onclick="gotoLogout()">Log Out</li>
            </ul>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid" id="cards">
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="mdl-card mdl-shadow--2dp" style="width:100%;">
                        <div class="mdl-card__media" style="background-color: white">
                            <img src="<%=Image%>"
                                 width="100%" height="100%" border="0" alt="" style="padding:10px;">
                        </div>
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">
                                <%=DeviceName%>
                            </h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p style="margin-bottom: 8px"><%=Description%></p>
                            <p style="margin-bottom: 8px">
                                <%if(DeviceState === "connected") {%>
                                    Connection State: connected
                                <%} else {%>
                                    Connection State: disconnected
                                <%}%>
                            </p>
                        </div>
                    </div>
                </div>

                <%if (NotificationList.length > 0) {%>
                    <% NotificationList.forEach(function(notification) { %>
                    <div class="mdl-cell mdl-cell--4-col" id="<%=notification.NotificationID%>">
                        <div class="mdl-card mdl-shadow--4dp" style="width:100%;">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text">
                                    <%if (notification.NotificationType === "SoftwareUpdate") {%>
                                    Software Update
                                    <%} else if (notification.NotificationType === "VideoListUpdate") {%>
                                    New Vedio for You
                                    <%} else {%>
                                    New Audio for You
                                    <%}%>
                                </h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <%=notification.Description %>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <%if (notification.NotificationType === "softwareupdate") {%>
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                   onclick="notificationAction(this, '<%=notification.NotificationID%>', 'details', 'SoftwareUpdate')">
                                    Details
                                </a>
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                   onclick="notificationAction(this, '<%=notification.NotificationID%>', 'agree', 'SoftwareUpdate')">
                                    Agree
                                </a>
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                   onclick="notificationAction(this, '<%=notification.NotificationID%>', 'cancel',
                                           'SoftwareUpdate')">
                                    Cancel
                                </a>
                                <%} else {%>
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                   onclick="notificationAction(this, '<%=notification.NotificationID%>', 'details',
                                           '<%=notification.NotificationType%>')">
                                    Details
                                </a>
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                   onclick="notificationAction(this, '<%=notification.NotificationID%>', 'cancel',
                                           '<%=notification.NotificationType%>')">
                                    Cancel
                                </a>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <% });%>

                <%}%>

                <div class="mdl-cell mdl-cell--4-col">
                    <div class="mdl-card mdl-shadow--2dp" style="min-height: 0px; width: 100%">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect btn-block" style="height: 56px;"
                                onclick="getVideos(this)" source="youtube">
                            <img src="images/YouTube-logo-full_color.png"
                                 height="100%" border="0" alt="" style="padding:10px;">
                        </button>
                        <%if (ContentList.length > 0) {%>
                        <ul class="demo-list-three mdl-list">
                            <% ContentList.forEach(function(video) {%>
                            <li class="mdl-list__item mdl-list__item--three-line">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="material-icons mdl-list__item-avatar">person</i>
                                        <span><%=video.ContentName %></span>
                                    </span>
                                <span class="mdl-list__item-secondary-content">
                                        <a class="mdl-list__item-secondary-action" value-name="<%=video.ContentName%>"
                                           value-url="<%=video.URL%>" onclick="playVideo(this, true)">
                                            <i class="material-icons">keyboard_arrow_right</i>
                                        </a>
                                    </span>
                            </li>
                            <%})%>
                        </ul>
                        <ul class="demo-list-three mdl-list">
                            <li class="mdl-list__item mdl-list__item--three-line">
                                <div style="margin-left:auto; margin-right:auto">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">skip_previous</i>
                                    </button>
                                    <button id="play-button" class="mdl-button mdl-js-button mdl-button--icon" onclick="playVideo(this, false)">
                                        <i class="material-icons">play_arrow</i>
                                    </button>
                                    </button>
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">skip_next</i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <% }%>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer"
            style="background-color: #ffffff;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
                    padding-top: 0px; padding-right: 0px; padding-left: 0px; padding-bottom: 0px">
        <div class="container-fluid" style="width:100%">
            <div class="row">
                <div class="col-xs-4 col-md-4" style="height: 56px; padding: 0px">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect btn-block" style="height: 56px;" onclick="gotohome()">
                        <div style="height: 24px; padding: 0px">
                            <i class="material-icons" style="color: #000000">home</i>
                        </div>
                        <div>
                            <text style="font-size: 12px; color: #000000">home</text>
                        </div>
                    </button>
                </div>
                <div class="col-xs-4 col-md-4" style="height: 56px; padding: 0px">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect btn-block" style="height: 56px;" onclick="gotodevices()">
                        <div style="height: 24px; padding: 0px">
                            <i class="material-icons" style="color: #00695C; opacity:26%">devices</i>
                        </div>
                        <div>
                            <text style="font-size: 14px; height: 12px; color: #00695C; opacity:26%">devices</text>
                        </div>
                    </button>
                </div>
                <div class="col-xs-4 col-md-4" style="height: 56px; padding: 0px">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect btn-block" style="height: 56px;">
                        <div style="height: 24px; padding: 0px">
                            <i class="material-icons" style="color: #000000">settings</i>
                        </div>
                        <div>
                            <text style="font-size: 12px; height: 12px; color: #000000; opacity:26%">settings</text>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
<script>
    function notificationAction(button, notificationID, action, type) {

        if (action === "cancel") {
            var child = document.getElementById(notificationID);
            child.parentNode.removeChild(child)
        }

        var xhttp = new XMLHttpRequest();
        var url = "/profile?notification=" + notificationID + "&Action=" + action + "&Type=" + type
        xhttp.open("POST", url, true)
        xhttp.send()
    }

    function gotoAddDevice() {
        window.location = "/addDevice";
    }

    function gotoLogout() {
        window.location = "/logout";
    }

    function getVideos(button) {
        //var xhttp = new XMLHttpRequest();
        var url = "/contentList?userID=<%UserName%>&contentType=video&source=youtube"
        //xhttp.open("POST", url, true)
        //xhttp.send()
        window.location = url;
    }

    var videourlnow = ""
    var videonamenow = ""
    function playVideo(button, bylist) {
        var action = "play"

        if (!bylist) {
            if (document.getElementById("play-button").innerHTML.indexOf("pause") >= 0) {
                document.getElementById("play-button").innerHTML = "<i class=\"material-icons\">play_arrow</i>"
                action = "pause"
            } else {
                document.getElementById("play-button").innerHTML = "<i class=\"material-icons\">pause</i>"
                action = "play"
            }
        } else {
            console.log("video now name:" + videonamenow)
            console.log("button name:" + button.getAttribute("value-name"))
            if (document.getElementById("play-button").innerHTML.indexOf("pause") >= 0
                    && (videonamenow != "") && (videonamenow === button.getAttribute("value-name"))) {
                document.getElementById("play-button").innerHTML = "<i class=\"material-icons\">play_arrow</i>"
                videonamenow = button.getAttribute("value-name")
                videourlnow = button.getAttribute("value-url")
                action = "pause"
            } else {
                document.getElementById("play-button").innerHTML = "<i class=\"material-icons\">pause</i>"
                videonamenow = button.getAttribute("value-name")
                videourlnow = button.getAttribute("value-url")
                action = "play"
            }
        }

        var xhttp = new XMLHttpRequest();
        var url = "/control?userID=<%=UserName%>&deviceID=<%=DeviceID%>&contentType==video&URL="
                + videourlnow + "&source=youtube&action=" + action;
        xhttp.open("POST", url, true)
        xhttp.send()
    }

    function gotodevices() {
        window.location = "/devices";
    }

    function gotohome() {
        window.location = "/profile";
    }

</script>

</html>