<!-- views/pages/speaker.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <style>
        #content:hover {
            background: lightgrey;
        }
        .demo-card-notification.mdl-card {
            height: 160px;
        }
    </style>
</head>
<body>

<dialog class="mdl-dialog">
    <p class="mdl-dialog__title">Spotify Login</p>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="s-email" name="email">
            <label class="mdl-textfield__label" for="email">Username</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="s-password" name="password">
            <label class="mdl-textfield__label" for="password">Password</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" id="cancel-spotify">Cancel</button>
        <button type="button" class="mdl-button" id="login-spotify">Login</button>
    </div>
</dialog>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-drawer-button">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><%=DeviceName %></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">add</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="demo-menu-lower-right">
                <li class="mdl-menu__item" onclick="gotoAddDevice()">Add Devices</li>
                <li class="mdl-menu__item" onclick="gotoLogout()">Log Out</li>
            </ul>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="mdl-card mdl-shadow--4dp" style="width:100%;">
                        <div class="mdl-card__media" style="background-color: white">
                            <img src="http://assets.store.hp.com/hpusstore/images/3pp_573X430/ge5916.png"
                                 width="100%" height="100%" border="0" alt="" style="padding:10px;">
                        </div>
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">
                                <%=DeviceName %>
                            </h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <%=Description %>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="mdl-card mdl-shadow--4dp" style="width:100%;">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect btn-block" style="height: 56px;" id="show-dialog">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Spotify_logo_with_text.svg/500px-Spotify_logo_with_text.svg.png"
                                 height="100%" border="0" alt="" style="padding:10px;">
                        </button>
                        <ul class="mdl-list" id="controlPad">
                            <!--<li class="mdl-list__item" id="nowPlaying">NOW PLAYING: </li>-->
                            <li class="mdl-list__item">
                                <div style="margin-left:auto; margin-right:auto">
                                    <!--<button class="mdl-button mdl-js-button mdl-button--icon" onclick="skip(this, true)" id="skipPrevious" disabled>
                                        <i class="material-icons">skip_previous</i>
                                    </button>-->
                                    <button id="play-button" class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="clickPlayResumeButton()" disabled>
                                        <i class="material-icons">play_arrow</i>
                                        /
                                        <i class="material-icons">pause</i>
                                    </button>
                                    <!--<button class="mdl-button mdl-js-button mdl-button--icon" id="skipNext" onclick="skip(this, false)" disabled>
                                        <i class="material-icons">skip_next</i>
                                    </button>-->
                                </div>
                            </li>
                            <li class="mdl-list__item">
                                <div style="margin-left: auto; margin-right: auto;">
                                    <i class="material-icons">volume_up</i>
                                </div>
                                <div style="margin-left: auto; margin-right: auto;">
                                    <button id="volume-up-button" class="mdl-button mdl-js-button mdl-button--icon"
                                            onclick="clickVolumeUpButton()" disabled>
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                                <div style="margin-left: auto; margin-right: auto;">
                                    <button id="volume-down-button" class="mdl-button mdl-js-button mdl-button--icon"
                                            onclick="clickVolumeDownButton()" disabled>
                                        <i class="material-icons">remove</i>
                                    </button>
                                </div>

                                <!--<div style="margin-left:auto; margin-right:auto">
                                    <i class="material-icons">volume_up</i>
                                </div>-->
                            </li>
                            <!--<li>
                                <input class="mdl-slider mdl-js-slider" type="range" min="0" max="20" value="0"
                                       tabindex="0" id="volumeSlider" oninput="clickSlider(this.value)" disabled>
                            </li>-->
                        </ul>
                        <ul class="mdl-list" id="audioContents">
                        </ul>
                    </div>
                </div>
                <% if (Permission == 0) { %>
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="auth-card mdl-card mdl-shadow--2dp" style="width:100%; min-height: 10px">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect btn-block" style="height: 56px;"
                                onclick="gotoAuthUserPage()">
                            Authenticate Users
                        </button>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </main>

    <% include ./footer-devices.ejs %>
</div>
</body>
<script>
    var videourlnow = ""
    var videonamenow = ""
    var ContentList = []
    var action="pause" //pause/play
    var dialog = document.querySelector('dialog');
    var showDialogButton = document.querySelector('#show-dialog');
    if (! dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
    }
    showDialogButton.addEventListener('click', function() {
        dialog.showModal();
    });
    dialog.querySelector('#cancel-spotify').addEventListener('click', function() {
        dialog.close();
    });
    dialog.querySelector('#login-spotify').addEventListener('click', function() {
        spotifyLogin();
    })

    function gotoAuthUserPage() {
        window.location = "/authorizedUser?DeviceID=<%=DeviceID%>&UserID=<%=UserID%>";
    }

    function spotifyLogin() {
        var s_username = document.getElementById("s-email").value;
        var s_password = document.getElementById("s-password").value;

        console.log(s_username);
        console.log(s_password);

        var xhttp = new XMLHttpRequest();
        var url = "/getAudio?UserID=<%=UserID%>&ContentType=Audio&Source=Spotify&SourceUserName=" + s_username
                + "&SourcePassword=" + s_password + "&DeviceID=" + "<%=DeviceID%>";
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var txt = "";
                ContentList = JSON.parse(this.responseText);

                dialog.close();

                console.log(this.responseText);

                if (ContentList.length > 0) {
                    ContentList.forEach(function(audio) {
                        txt += "<li id='content' class='mdl-list__item mdl-list__item--three-line'" + " value-name='" +
                            audio['ContentName'].replace('\'', '') +
                            "' value-url='" + audio['URL'].replace('\'', '') +
                            "' onclick='playAudioStateless(this)'>";
                        txt += "<span class='mdl-list__item-primary-content'>";
                        txt += "<span>" + audio['ContentName'].substr(0, 20) + "</span>";
                        //txt += "<span class='mdl-list__item-text-body'>" + audio['Artist'].substr(0, 50) +
                        //        "</span></span>";
                        txt += "<span class='mdl-list__item-secondary-content'> " +
                                "<a class='mdl-list__item-secondary-action' value-name='" + audio['ContentName'] +
                                "'value-url='" + audio['URL'] + "' onclick='playAudioStateless(this, true)'>";
                        txt += "<i class='material-icons'>keyboard_arrow_right</i>";
                        txt += "</a></span></li>";
                    });

                    showControlPad();
                    document.getElementById("audioContents").innerHTML = txt;
                } else {
                    document.getElementById("audioContents").innerHTML = "Login Error!";
                }
            }
        };
        xhttp.open("GET", url, true)
        xhttp.send();

    }

    function showControlPad() {
        // document.getElementById("skipPrevious").disabled = false;
        document.getElementById("volume-up-button").disabled = false;
        document.getElementById("play-button").disabled = false;
        document.getElementById("volume-down-button").disabled = false;
        // document.getElementById("skipNext").disabled = false;
        // document.getElementById("volumeSlider").disabled = false;
    }

    // Deprecated
    function clickSlider(value) {
        var xhttp = new XMLHttpRequest();
        var url = "/control?userID=<%=UserID%>&deviceID=<%=DeviceID%>&contentType=volume&URL="
                + videourlnow + "&source=spotify&action=" + value;
        xhttp.open("POST", url, true)
        xhttp.send()
    }

    // Deprecated
    function skip(buttion, isPrevious) {
        var num = 0;
        var videoname = "";
        var videourl = "";

        if (ContentList.length > 0) {
            videoname = ContentList[0]['ContentName'];
            videourl = ContentList[0]['URL'];
        }

        for (i = 0; i < ContentList.length; i++) {

            if (ContentList[i]['ContentName'] === videonamenow) {
                console.log(i);

                if (isPrevious) {
                    num = (i + ContentList.length - 1) % ContentList.length;
                    videoname = ContentList[num]['ContentName'];
                    videourl = ContentList[num]['URL'];
                } else {
                    num = (i + 1) % ContentList.length;
                    videoname = ContentList[num]['ContentName'];
                    videourl = ContentList[num]['URL'];
                }
            }
        }

        videonamenow = videoname;
        videourlnow = videourl;

        console.log("video now = " + videonamenow)

        var xhttp = new XMLHttpRequest();
        var url = "/control?userID=<%=UserID%>&deviceID=<%=DeviceID%>&contentType=audio&URL="
                + videourlnow + "&source=spotify&action=" + action;
        xhttp.open("POST", url, true)
        xhttp.send()
    }


    function gotoAddDevice() {
        window.location = "/addDevice";
    }

    function gotoLogout() {
        window.location = "/logout";
    }

    // Deprecated
    function playAudio(button, bylist) {
        action = "play"

        if (!bylist) {
            if (document.getElementById("play-button").innerHTML.indexOf("pause") >= 0) {
                document.getElementById("play-button").innerHTML = "<i class=\"material-icons\">play_arrow</i>"
                action = "pause"
            } else {
                document.getElementById("play-button").innerHTML = "<i class=\"material-icons\">pause</i>"
                action = "play"
            }
        } else {
            console.log("audio now name:" + videonamenow)
            console.log("button name:" + button.getAttribute("value-name"))
            if (document.getElementById("play-button").innerHTML.indexOf("pause") >= 0
                    && (videonamenow != "") && (videonamenow === button.getAttribute("value-name"))) {
                document.getElementById("play-button").innerHTML = "<i class=\"material-icons\">play_arrow</i>"
                videonamenow = button.getAttribute("value-name")
                videourlnow = button.getAttribute("value-url")
                action = "pause"
            } else {
                document.getElementById("play-button").innerHTML = "<i class=\"material-icons\">pause</i>"
                videonamenow = button.getAttribute("value-name")
                videourlnow = button.getAttribute("value-url")
                action = "play"
            }
        }

        var xhttp = new XMLHttpRequest();
        var url = "/control?userID=<%=UserID%>&deviceID=<%=DeviceID%>&contentType=audio&URL="
        + videourlnow + "&source=spotify&action=" + action;

        console.log("Add url: " + url);

        xhttp.open("POST", url, true)
        xhttp.send()
    }

    function gotoDevices() {
        window.location = "/devices?userID=<%=UserID%>";
    }

    function gotoHome() {
        window.location = "/profile";
    }

    function gotoSettings() {
        window.location = "/settings";
    }

    function playAudioStateless(button) {
        var videourl = button.getAttribute("value-url");
        var xhttp = new XMLHttpRequest();
        var url = "/control?userID=<%=UserID%>&deviceID=<%=DeviceID%>&contentType=audio&URL=" + videourl + "&source="
            + "spotify&action=play";
        xhttp.open("POST", url, true);
        xhttp.send();
    }

    function clickPlayResumeButton() {
        var xhttp = new XMLHttpRequest();
        var url = "/control?userID=<%=UserID%>&deviceID=<%=DeviceID%>&contentType=audio&URL=&source=spotify"
            + "&action=change";
        xhttp.open("POST", url, true);
        xhttp.send();
    }

    function clickVolumeUpButton() {
        var xhttp = new XMLHttpRequest();
        var url = "/control?userID=<%=UserID%>&deviceID=<%=DeviceID%>&contentType=volume&URL=&source=spotify"
            + "&action=up";
        xhttp.open("POST", url, true);
        xhttp.send();
    }

    function clickVolumeDownButton() {
        var xhttp = new XMLHttpRequest();
        var url = "/control?userID=<%=UserID%>&deviceID=<%=DeviceID%>&contentType=volume&URL=&source=spotify"
            + "&action=down";
        xhttp.open("POST", url, true);
        xhttp.send();
    }

</script>

</html>